@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #161a1e;
  color: #fff;
  overflow: hidden;
}

@layer base {
  .container {
    @apply w-11/12 mx-auto;
  }
  .main {
    @apply w-full h-screen bg-bgMain flex flex-col justify-center items-center gap-10;
  }
  .element-type {
    @apply cursor-pointer hover:text-mainBrand py-3;
  }
  input {
    @apply px-3 py-2 text-black rounded-sm;
  }

  .check-group > input {
    @apply cursor-pointer w-10 h-5;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-all duration-300 capitalize font-bold cursor-pointer;
  }
  .btn-full {
    @apply bg-mainBrand hover:bg-babyBlue hover:text-bgMain;
  }
  .btn-outline {
    @apply border-2 border-[#29A19C] text-[#29A19C] hover:border-[#A3F7BF] hover:text-[#A3F7BF];
  }
  .modal {
    @apply w-[80%] h-[90vh] bg-bgSecondary fixed left-[50%] top-[50%] flex flex-col
    items-center justify-center z-50;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .modal_overlay {
    @apply w-svw h-screen fixed bg-slate-400 opacity-50;
  }
  .modal-box {
    @apply z-50 w-full bg-bgMain h-full flex flex-col items-center justify-center relative rounded-lg;
  }
  .form {
    @apply flex flex-col items-center justify-evenly gap-10 border rounded-lg p-16 capitalize;
  }
  .form-group {
    @apply flex items-center justify-between gap-4;
  }
  .check-group {
    @apply flex items-center gap-2;
  }
}
