@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #161a1e;
  color: #fff;
  /* overflow: hidden; */
}

@layer base {
  .main {
    @apply w-full h-screen bg-bgMain flex flex-col justify-center items-center gap-10;
  }
  .element-type {
    @apply cursor-pointer hover:text-mainBrand py-3;
  }

  .displayForm {
    @apply rounded-md w-[95%] min-h-[80vh] mx-auto shadow-lg bg-bgSecondary overflow-y-visible;
  }
  .flexBetween {
    @apply flex justify-between items-center gap-3;
  }
  .checkbox {
    @apply w-[100px] flex-row-reverse;
  }
  .input {
    @apply w-[400px];
  }
  input,
  textarea {
    @apply px-3 py-2 text-black rounded-sm border-none outline-none hover:outline-2
     focus:outline-[#29A19C] shadow-sm hover:shadow-[#29A19C];
  }

  .check-group > input {
    @apply cursor-pointer w-10 h-5;
  }
  .user-form {
    @apply flex flex-col items-center p-5 min-h-[80vh];
  }
  .flexCol {
    @apply flex flex-col justify-center items-center;
  }
  .icon {
    @apply text-lg mb-2 cursor-pointer hover:scale-110 hover:text-[#A3F7BF] transition-all duration-300;
  }
}

@layer components {
  .container {
    @apply w-11/12 mx-auto;
  }
  .preview-container {
    @apply w-full lg:w-10/12 flex flex-col items-center justify-evenly gap-3;
  }
  .btn {
    @apply px-4 py-2 rounded-lg transition-all duration-300 capitalize font-bold cursor-pointer;
  }
  .btn-full {
    @apply bg-mainBrand hover:bg-babyBlue hover:text-bgMain;
  }
  .btn-outline {
    @apply border-2 border-[#29A19C] text-[#29A19C] hover:border-[#A3F7BF] hover:text-[#A3F7BF];
  }

  .modal {
    @apply w-[100%] md:w-[80%] h-[90vh] bg-bgSecondary fixed left-[50%] top-[50%] flex flex-col
    items-center justify-center z-50 translate-x-[-50%] translate-y-[-50%];
  }
  .modal_overlay {
    @apply w-svw h-screen fixed bg-slate-400 opacity-50;
  }
  .modal-box {
    @apply z-50 w-[90%] md:w-full bg-bgMain h-full flex flex-col items-center justify-center relative rounded-lg p-3;
  }
  .form {
    @apply flex flex-col items-center justify-center gap-10 border rounded-lg p-3 lg:p-10 capitalize;
  }
  .form-group {
    @apply flex items-center justify-between gap-4 flex-wrap min-w-[250px] md:min-w-[280px] lg:min-w-[300px];
  }
  .check-group {
    @apply flex items-center gap-2;
  }
}
